@import '../../colors.scss';

.header-container {
  background: white;
  height: 35px;
  display: flex;
  align-items: center;
  color: $base-font-color;
  font-weight: bold;
}

.chevron-container {
  display: inline-flex;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
  color: rgb(1, 146, 200);
}

.chevron-container.disabled {
  cursor: default;
  opacity: 0.5;
}

:host {
  width: 100%;
}
