<div class="main-block">
  <h4>Time Picker</h4>
  <div>
    <automate-timepicker [id]="'1'" [(ngModel)]="value" [config]="timePickerConfig"></automate-timepicker>

    <div>
      <automate-timepicker [id]="'2'" [container]="'body'" [(ngModel)]="value"
        [config]="timePickerConfig"></automate-timepicker>
    </div>

    {{value | date: 'MM/dd/yyyy hh:mm a'}}
  </div>

  <h4>Date Picker</h4>
  <automate-datepicker style="margin-top:50px" [theme]="'default christmas'" [config]="config" [ngModel]="value"
    [placement]="'left'" [container]="'body'" (ngModelChange)="dateChanged($event)" (onMonthChanged)="log($event)"
    (onYearChanged)="log($event)">
    <ng-template #footerTemplate>
      <div style="border: 1px solid red; width: 3rem; height: 2rem;">

      </div>
    </ng-template>
  </automate-datepicker>

  <div style="width: 400px">
    <automate-datepicker style="margin-top:50px;width:100%" [config]="config" [ngModel]="value" [placement]="'left'"
      [container]="'body'" (ngModelChange)="dateChanged($event)">

          <ng-template #footerTemplate>
      <div style="border: 1px solid red; width: 3rem; height: 2rem;">

      </div>
    </ng-template>
    </automate-datepicker>
  </div>

  <div>
    <automate-datepicker style="margin-top:50px" [theme]="'dark christmas'" [container]="'body'" [config]="config"
      [ngModel]="value" [placement]="'left'" (ngModelChange)="dateChanged($event)">
      <!-- <ng-template appendToTmp let-formattedDate="formattedDate">
        <div class="input-group">
          <input class="form-control" [ngModel]="formattedDate" />

          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">$</span>
          </div>
        </div>
      </ng-template> -->
    </automate-datepicker>
  </div>

  <div>
    <automate-datepicker style="margin-top:50px" [theme]="'dark'" [config]="config" [ngModel]="value"
      [placement]="'left'" [container]="'body'" (ngModelChange)="dateChanged($event)">
    </automate-datepicker>
  </div>

  <!-- <div class="scroll">
    <div class="scroll-inner">
      <div>
        <automate-datepicker style="margin-top:50px" [theme]="'dark christmas'" [config]="config" [ngModel]="value"
          [placement]="'right'" (ngModelChange)="dateChanged($event)">
          <ng-template appendToTmp let-formattedDate="formattedDate">
            <div class="input-group">
              <input class="form-control" style="outline:none;box-shadow: none" [ngModel]="formattedDate" />

              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">$</span>
              </div>
            </div>
          </ng-template>
        </automate-datepicker>
      </div>

      <div>
        <automate-datepicker style="margin-top:50px" [theme]="'dark christmas'" [config]="config" [ngModel]="value"
          [container]="'body'" [placement]="'right'" (ngModelChange)="dateChanged($event)">
          <ng-template appendToTmp let-formattedDate="formattedDate">
            <div class="input-group">
              <input class="form-control" style="outline:none;box-shadow: none" [ngModel]="formattedDate" />

              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">$</span>
              </div>
            </div>
          </ng-template>
        </automate-datepicker>
      </div>
    </div>
  </div> -->

  <canvas id="goodCanvas1" width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas>
</div>