.date-picker-container {
  position: absolute;
  font-family: "system-ui";
  background: white;
  white-space: nowrap;
  border: 1px solid #f0f0f0;
  padding: 0 5px;
  margin-top: 1px;

  -webkit-box-shadow: 3px 3px 8px -2px rgba(235, 235, 235, 0.77);
  box-shadow: 3px 3px 8px -2px rgba(235, 235, 235, 0.77);
}

:host {
  position: relative;
}
